<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Create New Book</title>
</head>
<body>
<div align="center">
<h1>Create New Book</h1>
<br/>
<form action="/save" method="post">
<table border="0" cellpadding="10" cellspacing="10">
	<tr>
		<td>Name</td>
		<td><Input type="text" name="name"/></td>
	</tr>
	<tr>
		<td>Author</td>
		<td><Input type="text" name="author"/></td>
	</tr>
	<tr>
		<td>Price</td>
		<td><Input type="text" name="price"/></td>
	</tr>
	<tr>
		<td colspan="2" align="center">
			<button type="submit">Save</button>
		</td>
	</tr>
</table>
</form>
</div>
</body>
</html>